body {
  background-color: white;
  margin: 0;
}
h1, h2, p, ul, li {
  font-family: sans-serif;
}

/* Navigation menu */
ul.header li {
  display: inline;
  list-style-type: none;
  margin: 0;
}
ul.header {
  padding: 0;
  text-align: center;
  width:100%;
}
.header li a {
  color: black;
  font-weight:normal;
  text-decoration: none;
  padding: 3vw;
  display: inline-block;
  margin-left: 3vw;
  margin-right: 3vw;
  font-size:1.6vw;
}
.content {
  background-color: #FFF;
  color: black;
}

.active {
  text-decoration: underline !important;
}

/* Footer */
.footer{
  width:100vw;
  position: absolute;
  bottom:0;
  background-color: black;
}

.footerimg_mobile{
  display:none;
}

img{
  width:100%;
}

/* Content on homepage */
.homecontent{
  padding:20px;
  text-align: center;
}

h2 {
  font-size: 2.7vw;
}

p{
  font-size: 1.5vw;
}

/* Mobile only fontsizes */
@media only screen and (max-width: 600px) {
  h2 {
    font-size: 6.8vw;
  }
  P {
    font-size: 3.6vw;
  }
  .header li a {
    font-size: 3.2vw;
  }
  /* .footerimg{
    display:none;
  }
  .footerimg_mobile{
    display:block;
  } */
}
